<div class="card tasks sameheight-item" data-exclude="xs,sm">
  <div class="card-header bordered card-header-sm">
    <%= render :partial => 'users/header' %>
  </div>
  <div class="card-block">
    <table class="list">
      <tbody>
      <% current_user.allowed_channel_types.each do |type| %>
          <tr>
            <td><%= type %></td>
            <td class="act-col"><%= link_to t('actions.select'), {action: :new, type: type}, class: 'btn btn-new' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
