<%= render :partial => 'users/nav' %>

<div class="panel panel-primary">
  <div class="panel-heading">
    Select the channel type
    <div class="pull-right">
      <%= link_to 'Cancel', {action: :index}, class: 'btn btn-warning btn-xs' %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Channel Type</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.allowed_channel_types.each do |type| %>
        <tr>
          <td><%= type %></td>
          <td class="text-right"><%= link_to 'Select', {action: :new, type: type}, class: 'btn btn-success btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>