<div class="bl">
  <%= render :partial => 'users/nav' %>

  <div class="bl-body">
    <div class="bl-title">Configuring <%= @channel.type %></div>

    Follow this link to add a Telegram bot <a href="<%= @channel.url %>" target="_blank"><%= @channel.url %></a>
  </div>
</div>
