<div class="card tasks sameheight-item" data-exclude="xs,sm">
  <div class="card-header bordered card-header-sm">
    <%= render :partial => 'users/header' %>
  </div>
  <div class="card-block">
    <%= t('channel.Telegram.follow_link_html') %> <a href="<%= @channel.url %>" target="_blank"><%= @channel.url %></a>
  </div>
</div>
