<%= render :partial => "users/nav" %>

<div class="panel panel-primary">
  <div class="panel-heading">
    Configuring <%= @channel.type %>
  </div>

  <div class="panel-body">
    Follow this link to add a Telegram bot <a href="https://telegram.me/ohoronka_bot?start=auth_token" target="_blank">https://telegram.me/ohoronka_bot?start=auth_token</a>
  </div>
</div>