---
http_interactions:
- request:
    method: post
    uri: https://api.novaposhta.ua/v2.0/json/
    body:
      encoding: UTF-8
      string: '{"apiKey":"ac1b36959b82784f9ed5dd1ec2719430","modelName":"Address","calledMethod":"getWarehouses","methodProperties":{"CityRef":"8d5a980d-391c-11dd-90d9-001a92567626"}}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"SiteKey":"105","Description":"\u0412\u0456\u0434\u0434\u0456\u043b\u0435\u043d\u043d\u044f
        \u21161: \u0432\u0443\u043b. \u041f\u0438\u0440\u043e\u0433\u0456\u0432\u0441\u044c\u043a\u0438\u0439
        \u0448\u043b\u044f\u0445, 135","DescriptionRu":"\u041e\u0442\u0434\u0435\u043b\u0435\u043d\u0438\u0435
        \u21161: \u0443\u043b. \u041f\u0438\u0440\u043e\u0433\u043e\u0432\u0441\u043a\u0438\u0439
        \u043f\u0443\u0442\u044c, 135","ShortAddress":"\u041a\u0438\u0457\u0432, \u041f\u0438\u0440\u043e\u0433\u0456\u0432\u0441\u044c\u043a\u0438\u0439
        \u0448\u043b\u044f\u0445, 135","ShortAddressRu":"\u041a\u0438\u0435\u0432,
        \u041f\u0438\u0440\u043e\u0433\u043e\u0432\u0441\u043a\u0438\u0439 \u043f\u0443\u0442\u044c,
        135","Phone":"0-800-500-609","TypeOfWarehouse":"9a68df70-0267-42a8-bb5c-37f427e36ee4","Ref":"1ec09d88-e1c2-11e3-8c4a-0050568002cf","Number":"1","CityRef":"8d5a980d-391c-11dd-90d9-001a92567626","CityDescription":"\u041a\u0438\u0457\u0432","CityDescriptionRu":"\u041a\u0438\u0435\u0432","Longitude":"30.542884000000000","Latitude":"50.354786000000000","PostFinance":"1","BicycleParking":"1","PaymentAccess":"0","POSTerminal":"0","InternationalShipping":"1","TotalMaxWeightAllowed":0,"PlaceMaxWeightAllowed":0,"Reception":{"Monday":"08:00-23:00","Tuesday":"08:00-23:00","Wednesday":"08:00-23:00","Thursday":"08:00-23:00","Friday":"08:00-23:00","Saturday":"08:00-23:00","Sunday":"-"},"Delivery":{"Monday":"07:00-19:00","Tuesday":"07:00-19:00","Wednesday":"07:00-19:00","Thursday":"07:00-19:00","Friday":"07:00-19:00","Saturday":"07:00-18:00","Sunday":"-"},"Schedule":{"Monday":"07:00-23:00","Tuesday":"07:00-23:00","Wednesday":"07:00-23:00","Thursday":"07:00-23:00","Friday":"07:00-23:00","Saturday":"07:00-23:00","Sunday":"07:00-23:00"}},{"SiteKey":"45","Description":"\u0412\u0456\u0434\u0434\u0456\u043b\u0435\u043d\u043d\u044f
        \u21162: \u0432\u0443\u043b. \u0411\u0435\u0440\u0435\u0436\u0430\u043d\u0441\u044c\u043a\u0430,
        9 (\u041e\u0431\u043e\u043b\u043e\u043d\u044c \u041b\u0443\u0433\u043e\u0432\u0430)","DescriptionRu":"\u041e\u0442\u0434\u0[...]
