<div class="bl">
  <%= render :partial => 'bl_header' %>
  <div class="bl-body">
    <ul class="list-unstyled">
      <% @friendships.each do |friendship| %>
          <% friend = friendship.friend %>
          <% content_for :actions do %>
              <%= link_to t('actions.destroy_icon_html'), reject_friend_path(friendship), class: 'btn btn-destroy', method: :delete %>
          <% end %>

          <%= render :partial => 'friend', object: friend %>
      <% end %>
    </ul>

  </div>
</div>