<div class="card tasks sameheight-item" data-exclude="xs,sm">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">
        <%= t('device.new') %>
      </h3>
    </div>
  </div>
  <div class="card-block">
    <%= render :partial => 'form' %>
  </div>
</div>
