<div class="panel panel-default">

  <div class="panel-heading">
    <span class="h3">Adding new device</span>
    <%= link_to 'Cancel', {action: :index, guarded_object_id: @device.object_id}, class: 'btn btn-warning pull-right btn-sm' %>
  </div>

  <div class="panel-body">
    <%= bootstrap_form_for([:guarded_object, @device]) do |f| %>
        <%= f.text_field :name %>
        <%= f.primary 'Save' %>
    <% end %>
  </div>
</div>