<div class="panel panel-primary">

  <div class="panel-heading">
    <span class="h3">Adding new device</span>
  </div>

  <div class="panel-body">
    <%= render :partial => 'form' %>
  </div>
</div>