---
http_interactions:
- request:
    method: post
    uri: https://api.novaposhta.ua/v2.0/json/
    body:
      encoding: UTF-8
      string: '{"apiKey":"206a7128a84bb7835b0ff53ae5df3e47","modelName":"Address","calledMethod":"getAreas","methodProperties":{}}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"Ref":"71508128-9b87-11de-822f-000c2965ae0e","AreasCenter":"db5c88b7-391c-11dd-90d9-001a92567626","Description":"\u0410\u0420\u041a"},{"Ref":"71508129-9b87-11de-822f-000c2965ae0e","AreasCenter":"db5c88de-391c-11dd-90d9-001a92567626","Description":"\u0412\u0456\u043d\u043d\u0438\u0446\u044c\u043a\u0430"},{"Ref":"7150812a-9b87-11de-822f-000c2965ae0e","AreasCenter":"db5c893b-391c-11dd-90d9-001a92567626","Description":"\u0412\u043e\u043b\u0438\u043d\u0441\u044c\u043a\u0430"},{"Ref":"7150812b-9b87-11de-822f-000c2965ae0e","AreasCenter":"db5c88f0-391c-11dd-90d9-001a92567626","Description":"\u0414\u043d\u0456\u04[...]
