<div class="bl">
  <div class="bl-body">
    <div class="bl-title"><%= Notification.model_name.human(count: 2) %></div>

    <table class="list">
      <tbody>
        <% @notifications.each do |notification| %>
          <tr>
            <td>
              <%= notification.decorate.message %>
              <% if notification.unread? %>
                  <span class="badge badge-primary"><%= t('notification.new') %></span>
              <% end %>
            </td>
            <td class="act-col">
              <%= link_to t('notification.go'), notification.decorate.url, class: 'btn btn-success' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>