<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if params[:controller] == 'users' %>"><a href="<%= edit_user_path(@user) %>">Profile</a></li>
  <li role="presentation" class="<%= 'active' if params[:controller] == 'channels' %>"><a href="<%= user_channels_path(@user) %>">Channels</a></li>
</ul>
