<%= render :partial => 'nav' %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @user.name %> <span class="text-muted">(editing)</span>
  </div>

  <div class="panel-body">
    <%= render :partial => 'form' %>
  </div>
</div>