<% if flash[:notice] || flash[:alert] %>
 <div id="flash" class="flash"></div>
 <script type="text/javascript" charset="utf-8" data-turbolinks-eval="false">
   $( document ).on('turbolinks:load', function() {
     flash('<%= j flash[:notice] || flash[:alert] %>')
   });
 </script>
<% end %>
