<div id="flash" class="flash"></div>
<% if flash[:notice] || flash[:alert] %>
 <script type="text/javascript" charset="utf-8">
   $( document ).on('turbolinks:load', function() {
     flash('<%= j flash[:notice] || flash[:alert] %>')
   });
 </script>
<% end %>
