<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:action] == 'index' %>" href="<%= facilities_path %>">My Facilities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:action] == 'shared' %>" href="<%= shared_facilities_path %>">Shared With Me</a>
    </li>
  </ul>
</div>
