<div class="bl">
  <div class="bl-body">
    <div class="bl-title-bl">
      <div class="bl-title">Editing <%= @facility.name %></div>
      <div class="bl-acts">
        <%= link_to 'Destroy', {action: :destroy}, class: 'btn btn-destroy', method: :delete, data: {confirm: 'Record will be completely destroyed. Are you sure?'} %>
      </div>
    </div>

    <%= render :partial => 'form' %>
  </div>
</div>
