<div class="bl">
  <div class="bl-body">
    <div class="bl-title-bl">
      <div class="bl-title"><%= t('actions.edit') %> <%= @facility.name %></div>
      <div class="bl-acts">
        <%= link_to t('actions.destroy_with_icon_html'), {action: :destroy}, class: 'btn btn-destroy', method: :delete, data: {confirm: t('confirm.destroy')} %>
      </div>
    </div>

    <%= render :partial => 'form' %>
  </div>
</div>
