<div class="panel panel-primary">
  <div class="panel-heading">
    Editing guarded facility <%= @facility.name %>
    <div class="pull-right">
      <%= link_to 'Destroy', {action: :destroy}, class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: 'Record will be completely destroyed. Are you sure?'} %>
    </div>
  </div>

  <div class="panel-body">
    <%= render :partial => 'form' %>
  </div>
</div>