<div class="panel panel-primary">
  <div class="panel-heading">
    Facilities
    <div class="pull-right">
      <%= link_to 'New Facility', {action: :new}, class: 'btn btn-success btn-xs' %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td class="text-right">
          <%= link_to 'Edit', {action: :edit, id: facility.id}, class: 'btn btn-success btn-xs' %>
          <%= link_to 'Destroy', {action: :destroy, id: facility.id}, method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: 'Record will be remowed! Sure?'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>