<div class="card sameheight-item" data-exclude="xs" id="dashboard-history">
  <div class="card-header card-header-sm bordered">
    <%= render :partial => 'header' %>
  </div>
  <div class="card-block table-responsive">
    <table class="list">
      <tbody>
      <% @facilities.each do |facility| %>
          <tr>
            <td><%= facility.name %></td>
            <td class="act-col">
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
