<div class="bl">
  <%= render :partial => "header" %>
  <div class="bl-body">
    <table class="list">
      <tbody>
      <% @facilities.each do |facility| %>
          <tr>
            <td><%= facility.name %></td>
            <td class="act-col">
              <%# link_to '<i class="fa fa-cog" aria-hidden="true"></i> Edit'.html_safe, {action: :edit, id: facility.id}, class: 'btn btn-edit' %>
              <%# link_to t('actions.destroy_icon_html'), {action: :destroy, id: facility.id}, method: :delete, class: 'btn btn-destroy', data: {confirm: t('confirm.destroy')} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>