<section class="section">
  <div class="row sameheight-container">
    <div class="col col-12 col-sm-12 col-md-12 col-xl-12">
      <div class="card sameheight-item" data-exclude="xs">
        <%= react_component('FacilityStatusCard', facility: @facility.as_json, sensors: @facility.sensors.as_json) %>
      </div>
    </div>
  </div>
</section>

<%= react_component('DashboardEventsCard', events: @facility.events.dashboard_list.as_json(include: :target), facility: @facility.as_json) %>
