<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">Events</h3>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Sensor</th>
      <th>Created at</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <% @events.each do |event| %>
        <tr>
          <td><%= event.sensor.name %></td>
          <td><%= event.created_at %></td>
          <td><span class="label label-<%= event.decorate.sensor_css_status %>"><%= event.sensor_status %></span></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>