<div class="bl">
  <div class="bl-body">
    <div class="bl-title">Events</div>

    <table class="list">
      <tbody>
      <% @events.each do |event| %>
          <tr>
            <td><%= event.target.name %></td>
            <td><%= event.created_at %></td>
            <td class="text-right"><span class="badge badge-<%= event.target_status %>"><%= event.target_status %></span></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>