<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3097D1 !important;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card my-3">
        <img class="card-img-top" src="https://bootstrap-themes.github.io/application/assets/img/iceland.jpg" alt="Card image cap">
        <div class="card-body">
          <img src="https://s.gravatar.com/avatar/9d7a0461ce90e58e1bfbd991387eb592?s=100" alt="Me" class="rounded-circle mx-auto d-block img-thumbnail" style="margin-top: -75px">
          <h6 class="card-title text-center m-2">Bogdan Guban</h6>
          <p class="text-center card-text">
            I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h6 class="card-title">Card title</h6>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-3">
        <div class="card-body">
          <h6 class="card-title">Card title</h6>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card my-3">
        <div class="card-body">
          <h6 class="card-title">Card title</h6>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>