<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card my-3">
        <img class="card-img-top" src="https://bootstrap-themes.github.io/application/assets/img/iceland.jpg" alt="Card image cap">
        <div class="card-body">
          <img src="https://s.gravatar.com/avatar/9d7a0461ce90e58e1bfbd991387eb592?s=100" alt="Me" class="rounded-circle mx-auto d-block img-thumbnail" style="margin-top: -75px">
          <h6 class="card-title text-center m-2">Bogdan Guban</h6>
          <p class="text-center card-text">
            I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <h6 class="card-title">Card title</h6>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-3">
        <div class="card-body">
          <h6 class="card-title">Card title</h6>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card my-3">
        <div class="card-body">
          <h6 class="card-title">Card title</h6>

          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>