<%= react_component('StatusBadge', status: :idle) %>

<div class="input-group">
  <input type="text" class="form-control">
  <div class="input-group-append">
    <button class="btn btn-outline-primary">Hey</button>
  </div>
</div>
