<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:action] == 'index' %>" href="<%= url_for(action: :index) %>">Shared</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if params[:action] == 'share_with_friend' %>" href="<%= url_for(action: :share_with_friend) %>">Share with friend</a>
    </li>
  </ul>
</div>