<div class="bl">
  <div class="bl-body">
    <div class="bl-title">
      <%= t('sensor.select_device') %>
    </div>

    <table class="list">
      <tbody>
      <% @devices.each do |device| %>
          <tr>
            <td><%= device.name %></td>
            <td class="act-col">
              <%= link_to t('actions.select'), {action: :new, device_id: device.id }, class: 'btn btn-success btn-xs' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>