<tr id="sensor_<%= sensor.id %>">
  <td><%= sensor.name %></td>
  <td class="text-right">
    <span class="label label-<%= sensor.decorate.css_status %>"><%= sensor.decorate.status %></span>
  </td>
</tr>