---
http_interactions:
- request:
    method: post
    uri: https://api.novaposhta.ua/v2.0/json/
    body:
      encoding: UTF-8
      string: '{"apiKey":"ac1b36959b82784f9ed5dd1ec2719430","modelName":"Address","calledMethod":"getCities","methodProperties":{}}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":[{"Description":"\u0410\u0432\u0430\u043d\u0433\u0430\u0440\u0434","DescriptionRu":"\u0410\u0432\u0430\u043d\u0433\u0430\u0440\u0434","Ref":"8e1718f5-1972-11e5-add9-005056887b8d","Delivery1":"1","Delivery2":"1","Delivery3":"1","Delivery4":"1","Delivery5":"1","Delivery6":"0","Delivery7":"0","Area":"71508136-9b87-11de-822f-000c2965ae0e","SettlementType":"563ced11-f210-11e3-8c4a-0050568002cf","IsBranch":"0","PreventEntryNewStreetsUser":null,"Conglomerates":null,"CityID":"1042","SettlementTypeDescription":"\u0441\u0435\u043b\u0438\u0449\u0435
        \u043c\u0456\u0441\u044c\u043a\u043e\u0433\u043e \u0442\u0438\u043f\u0443","SettlementTypeDescriptionRu":"\u0441\u0435\u043b\u043e
        \u0433\u043e\u0440\u043e\u0434\u0441\u043a\u043e\u0433\u043e \u0442\u0438\u043f\u0430"},{"Description":"\u0410\u0432\u0434\u0456\u0457\u0432\u043a\u0430","DescriptionRu":"\u0410\u0432\u0434\u0435\u0435\u0432\u043a\u0430","Ref":"a9522a7e-eaf5-11e7-ba66-005056b2fc3d","Delivery1":"1","Delivery2":"1","Delivery3":"1","Delivery4":"1","Delivery5":"1","Delivery6":"1","Delivery7":"0","Area":"7150812c-9b87-11de-822f-000c2965ae0e","SettlementType":"563ced10-f210-11e3-8c4a-[...]
