@import "bootstrap-variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "custom/buttons";
@import "custom/list";

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #292b2c;
  /* background-color: #f5f8fa; */
}
