@import "bootstrap-variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "custom/buttons";
@import "custom/list";
@import "custom/block";
@import "custom/badges";

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #292b2c;
  /* background-color: #f5f8fa; */
}


.has-error{
  input{
    @extend .is-invalid;
  }

  .help-block{
    display: block;
    @extend .invalid-feedback;
  }
}

.nav-link.active{
  background-color: #fff !important;
}