@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/buttons";
@import "bootstrap/card";

.logo {
  width: 50px;
  height: 50px;
  float: left;
}

.header, .footer {
  margin: 16px auto;
}


.layout {
  background-color: #f6f6f6;
  padding: 5px 0 40px;

  &.is-wide {
    background-color: transparent;

    .container,
    .logo,
    .footer {
      max-width: 90%;
    }
  }
}
