$firm: #28a745;
$link: #0070d9;
$container-width: 480px;
$container-padding: 30px;

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
  -webkit-box-shadow: $x $y $blur $color;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}

p {
  margin-bottom: 15px;
}

a {
  color: $link;
  text-decoration: none;
}

.strong {
  font-weight: bold;
}

.nospace {
  margin: 0;
}

.logo img {
  width: 50px;
  height: 50px;
  float: left;
}

.layout {
  background-color: #f6f6f6;
  padding: 5px 0 40px;

  &.is-wide {
    //background-color: transparent;

    .container,
    .logo,
    .footer {
      max-width: 90%;
    }
  }
}

.container {
  background-color: #fff;
  border: 1px solid rgba(#000, .1);
  margin: 20px auto;
  max-width: $container-width;
  padding: $container-padding;
  @include border-radius(6px);
  @include box-shadow(0, 0, 10px, rgba(#000, .1));
}

.logo,
.footer {
  margin: 20px auto;
  max-width: $container-width + $container-padding * 2;
}

.footer {
  color: #999;
  font-size: 12px;
}

.actions {
  margin-top: 20px;

  &.is-row {
    margin: 7px 0 25px;

    &.is-last {
      margin-bottom: 0 !important;
    }
  }
}

.tip {
  color: #999;
  font-size: 12px;
}

.button {
  background-color: $firm;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  width: 200px;
  -webkit-text-size-adjust: none;
  @include border-radius(6px);

  &.is-small {
    background-color: transparent;
    border: 1px solid rgba($link, .3);
    color: $link;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
    width: auto;
  }
}

.text {
  &.is-error { color: #e33838; }
  &.is-success { color: #25b063; }
  &.is-pale { color: #999; }
}

.table {
  border-collapse: collapse;
  border-radius: 4px;
  width: 100%;

  &.is-compact {
    font-size: 12px;
  }

  th,
  td {
    border-bottom: 1px solid #ddd;
    min-width: 80px;
    padding: 8px;
    text-align: left;
    vertical-align: top;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.is-noborder {
      border: none;
    }
  }

  th {
    font-weight: bold;
    vertical-align: bottom;
  }
}
