<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.decorate.full_name %></td>
        <td><%= user.email %></td>
        <td class="text-right">
          <%= link_to 'Login as', {action: :login_as, id: user.id}, class: 'btn btn-success btn-sm', method: :patch %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>