<!DOCTYPE html>
<html>
  <head>
    <title>Ohoronka</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js" data-apikey="ec200d52d3b83dd11578d80ee2f24f73"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
